.windowEditProfile {
  display: flex;
  width: -webkit-fill-available;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background: rgba(3, 3, 3, 0.3);
  overflow: hidden;
  justify-content: center;
  min-height: 1100px;

  &__content {
    position: relative;
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    min-height: 1100px;
    height: 100%;

    @media screen and (min-width: 769px) {
      max-height: 716px;
      min-height: 716px;
      max-width: 800px;
      flex-direction: row;
      align-items: initial;
      padding: 80px 0px;
      gap: 60px;
    }
  }

  @media screen and (min-width: 769px) {
    min-height: 876px;
  }
}

.windowEditProfile-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__content {
    border-image: url(../../assets/img/borderProfile.png) 20 fill/ 20px round;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & img {
      max-width: 100%;
      max-height: 200px;
    }

    &_drop {
      border-image: none;
    }

    &_dragEnter {
      pointer-events: none;
      position: absolute;
      border-image: url(../../assets/img/borderProfile.png) 20 fill/ 20px round;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 0;
      left: 0;
      background: #ffffff;
      gap: 16px;
    }
  }

  &__titel {
    display: none;
    font-family: 'Inter Light';
    width: 136px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;

    @media screen and (min-width: 769px) {
      display: inline;
    }
  }

  &__info {
    font-size: 12px;
    line-height: 140%;
    font-family: 'Inter Light';
  }

  &__input {
    display: none;
  }

  &__span {
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Inter Medium';
    position: relative;

    &::before {
      content: '';
      background-color: currentColor;
      width: 100%;
      position: absolute;
      height: 1px;
      bottom: 0px;
    }
  }
}

.windowEditProfile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  &_dragEnter {
    pointer-events: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 260px;

    @media screen and (min-width: 426px) {
      width: 340px;
    }

    @media screen and (min-width: 769px) {
      gap: 40px;
    }
  }

  @media screen and (min-width: 769px) {
    gap: 60px;
  }
}
