.cardList {
  width: var(--grid-width);
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;

  @media screen and (max-width: 1400px) {
    gap: 24px;
  }

  @media screen and (max-width: 768px) {
    gap: 20px;
  }
}

.cardList-item {
  width: 392px;
  height: 260px;

  @media screen and (max-width: 1400px) {
    width: 352px;
    height: 220px;
  }
  @media screen and (max-width: 768px) {
    width: 280px;
    height: 185px;
  }
}
