.cardList {
  width: var(--grid-width);
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  gap: 20px;

  @media screen and (max-width: 1400px) {
    gap: 24px;
  }

  @media screen and (max-width: 768px) {
    gap: 20px;
  }
}

.cardList-item {
  $width: 392;
  width: 392px;
  $height: 260;
  aspect-ratio: $width / $height;

  @media screen and (max-width: 1439px) {
    width: 48.35%;
    $width: 352;
    $height: 220;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    $width: 280;
    $height: 185;
  }
}
