:root {
    --secondary-color-gray: #9c9c9c;
    --accent-color-red: #9b4b4b;
    --accent-color-gold: #ab8956;
    --accent-color-error: #ae2917;
}
html[data-theme='light'] {
    --primary-color: #ffffff;
    --primary-color-gray: #dedede;
    --text-color: #121212;
    --secondary-color: #fcfcfc;
    --accent-color: #9b4b4b;
}
html[data-theme='dark'] {
    --primary-color: #121212;
    --primary-color-gray: #575757;
    --text-color: #ffffff;
    --secondary-color: #1a1818;
    --accent-color: #ab8956;
}
