html {
  --primary-width: 1440px;
  --grid-width: 1240px;
  --header-height: 80px;
  --footer-height: 166px; 

  @media screen and (max-width: 1440px) {
    --grid-width: 86.11%;
  }

  @media screen and (max-width: 1240px) {
    --grid-width: 96.875%;
  }

  @media screen and (max-width: 768px) {
    --primary-width: 768px;
    --grid-width: 94.79%;
    --header-height: 88px;
  }

  @media screen and (max-width: 320px) {
    --primary-width: 320px;
    --grid-width: 87.5%;
    --header-height: 64px;
    --footer-height: 185px;
  }
}
