.cardList {
    width: var(--grid-width);
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardListItem {
    width: 392px;
    height: 260px;
    margin-bottom: 32px;

    @media screen and (max-width: 1400px) {
        width: 352px;
        height: 220px;
        margin-bottom: 24px;
    }
    @media screen and (max-width: 768px) {
        width: 280px;
        height: 185px;
        margin-bottom: 20px;
    }
}
