.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &_theme {
    &_light {
      background: #ffffff;
    }

    &_dark {
      background: #121212;
    }
  }
}
