.card {
  height: inherit;
  width: inherit;
  position: relative;

  &:hover {
    cursor: pointer;

    .card-curtain {
      right: -24px;
    }
  }
}

.card-img {
  height: 100%;
  width: 100%;
}

.card-content {
  position: absolute;
  bottom: 0;
  height: 82px;
  width: 300px;
  left: 0;
  display: flex;
  align-items: center;

  &::before {
    width: 2px;
    height: 42px;
    background-color: var(--accent-color-gold);
    content: '';
    position: absolute;
  }

  @media screen and (max-width: 1440px) {
    height: 66px;

    &::before {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    width: 236px;
    height: 45px;
  }
}

.card-title h4 {
  color: var(--text-color);
}

.card-yearsLife {
  color: var(--accent-color);
}

.card-description {
  height: -webkit-fill-available;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  width: -webkit-fill-available;
  overflow: hidden;
  background-color: var(--primary-color);
  z-index: 1;

  @media screen and (max-width: 1440px) {
    padding: 12px;
  }
  @media screen and (max-width: 768px) {
    padding: 8px;
  }
}

.card-curtain {
  z-index: 0;
  position: absolute;
  right: 0px;
  height: inherit;
  width: 24px;
  background: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s all;
}

.card-arrow {
  z-index: 1;
  width: 10px;
  height: 0.7px;
  background-color: #ffffff;
  border-radius: 25px;
  position: relative;

  &::before {
    height: 0.7px;
    content: '';
    width: 5.5px;
    background: #ffffff;
    transform: rotatez(40deg);
    position: absolute;
    border-radius: 20px;
    right: -0.6px;
    top: -1.6px;
  }

  &::after {
    height: 0.7px;
    content: '';
    width: 5.5px;
    background: #ffffff;
    transform: rotatez(140deg);
    position: absolute;
    border-radius: 20px;
    right: -0.6px;
    bottom: -1.6px;
  }
}
