.toast {
  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  gap: 8px;
  padding-left: 12px;
  position: absolute;
  bottom: 0px;

  &_theme {
    &_light {
      background: #fcfcfc;
      color: #575757;
      border: 1px solid #dedede;
    }

    &_dark {
      background: #1a1818;
      color: #dedede;
      border: 1px solid #1a1818;
    }
  }

  &__btn {
    top: 14px;
    right: 8px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    color: inherit;

    &::before,
    &::after {
      width: 11px;
      height: 1px;
      content: '';
      background: currentColor;
      position: absolute;
      border-radius: 4px;
    }

    &::before {
      transform: rotateZ(-45deg);
    }

    &::after {
      transform: rotateZ(45deg);
    }

    @media screen and (min-width: 768px) {
      top: 12px;
      right: 12px;

      &::before,
      &::after {
        width: 22.6px;
      }
    }
  }

  &__title {
    line-height: 17px;

    @media screen and (min-width: 768px) {
      padding-left: 24px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 441px;
    height: 88px;
    padding-left: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    gap: 11px;
    bottom: 22px;
    right: 22px;

    &::before {
      position: absolute;
      left: -1px;
      top: -1px;
      width: 8px;
      height: 100%;
      background: #ae2917;
      border: 1px solid #ae2917;
      border-radius: 4px 0px 0px 4px;
      content: '';
    }
  }
}

.toast-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  &__title {
    display: none;
    font-size: 22px;
    color: #ae2917;

    @media screen and (min-width: 768px) {
      display: initial;
    }
  }
}
