.search {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: -webkit-fill-available;
  justify-content: center;

  &__btn-close {
    width: 11px;
    height: 11px;
    right: 18px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after,
    &::before {
      position: absolute;
      content: '';
      width: 11px;
      height: 1px;

      border-radius: 10px;
    }

    &::before {
      transform: rotateZ(-45deg);
    }

    &::after {
      transform: rotateZ(45deg);
    }

    &_theme {
      &_light {
        &::after,
        &::before {
          background: #575757;
        }
      }

      &_dark {
        &::after,
        &::before {
          background: #dedede;
        }
      }
    }
  }

  &__icon {
    position: absolute;
    left: 20px;

    &_theme {
      &_light * {
        fill: #575757;
      }
      &_dark * {
        fill: #dedede;
      }
    }
  }

  &__title {
    &_theme {
      &_light {
        color: #121212;
      }
      &_dark {
        color: #ffffff;
      }
    }
  }

  &__input {
    padding: 7.5px 34px 7.5px 52px;
    margin: 0;
    border: 0;
    border-radius: 4px;
    text-overflow: ellipsis;
    max-width: calc(100% - 34px - 52px);

    &_theme {
      &_light {
        background: #ffffff;
        outline: 1px solid #dedede;
        color: #575757;

        &:hover {
          outline: 1px solid #9c9c9c;
        }

        &:focus {
          outline: 1px solid #575757;
        }
      }
      &_dark {
        background: #1a1818;
        outline: 1px solid #1a1818;
        color: #dedede;

        &:hover {
          outline: 1px solid #575757;
        }

        &:focus {
          outline: 1px solid #dedede;
        }
      }
    }

    &_isError {
      outline: 1px solid #ae2917;
    }

    &::-webkit-input-placeholder {
      color: #9c9c9c;
    }
  }
}

.search-error {
  position: absolute;
  display: flex;
  bottom: -28px;
  align-items: center;
  gap: 8px;

  &__info {
    color: #ae2917;
  }
}
